h1 {
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}
h2,
h3 {
    color:#BFEEC1;
}
body {
    background-color:#659DBD;
    color:white;
    font-family: sans-serif;
    /* background-image: url("images/fantasy-wallpaper-33.jpg"); */
}
section {
    /* color:white; */
}
footer {
    font-weight: bold;
}
span {
    font-family: fantasy;
    font-weight: bold;
}
#center {
    text-align: center;
}

li {
    /* color:#C1C8E4; */
}
a:link,
a:visited {
    text-decoration: none;
    color: white;
    text-decoration: underline;
}
a:hover {
    background-color:#DAAD86;
}
#color:hover {
    background-color: #8C986A;
}
#google:hover {
    background-color: #659DBD;
}
footer {
    text-align: center;
    border-style: solid;
    border-width: 10px;
    border-color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 36%;
    margin-right: 36%;
    margin-top: 3%;
}
#myCanvas {
    border-style: solid;
    background-color: white;
    margin-top: 60px;
    margin-bottom:  60px;
}